.ad__image{
    display: flex;
    margin: 15px 50px;
    height: 50px;
    width: 50px;
}

.ad__image > img{
    border-radius: 50%;
    object-fit: contain;
}

.rightBottom >p{
    color: gray;
    font-size: 13px;
    text-align: center;
    margin-top: 35px;
}

.second__text{
    color: gray;
    font-size: 15px;
}

.bottom__button > button{
    background-color: transparent;
    border: 1px solid #008cc9;
    border-radius: 2px;
    color: #0077b5;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
    text-align: center;
    text-decoration: none;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 167ms;
}

.bottom__button{
    margin: 20px 110px;
}

.bottom__button >button:hover{
    border: 1.2px solid #008cc9;
}