.feature__post{
    max-width: none;
    min-width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    margin-right: 10px;
    text-align: start;
}

.feature__post>img{
    object-fit: cover;
    width: 300px;
    height: 250px;  
    margin-top: 10px;
}

.feature__post>.like{margin-left: -260px;}

.like>.MuiSvgIcon-root{
    color: #006097;
    font-size: 13px;
    margin-top: 5px;
    border-radius: 99px;
}

.like>p{
    color: gray;
    font-size: 12px;
    margin-top: 15px;
}