.login{
    background-color: white;
    display: grid;
    place-items: center;
    height: 100vh;
}   

.login__img{
    height: 200px;
    object-fit: contain;
    width: 100%;
}

.login__button{
    width: 11vw;
    padding: 20px;
    background-color: #34A2CE;
    color: white;
    font-size: medium;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
}
